.vertical-align {
    display: flex;
    min-height: 100%;
    min-height: 100vh;
    align-items: center;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -1.25rem;
    right: -1rem;
    opacity: 0.4;
    font-size: 5rem;
    transform: rotate(15deg);
}

$custom-file-text: (
    fr: "Parcourir"
);
